@keyframes up {
  0% {
    transform: translateY(50vh);
    opacity: 0;
  }
  30% { opacity: 0; }
  70% { transform: translateY(-5vh); }
  100% {
    transform: translateY(0);
    opacity: 1
  }
}

@keyframes stretchOutH {
  from {
    height: 0px;
    opacity: 0;
    text-indent: -999999px;
  }
  to {
    height: 160px;
    opacity: 1;
    text-indent: 0px;
  }
}

@keyframes stretchInH {
  from {
    height: 160px;
    opacity: 1;
    text-indent: 0px;
  }
  to {
    height: 0px;
    opacity: 0;
    text-indent: -999999px;
  }
}
