.courses {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 10%;
  overflow-y: hidden;
  height: calc(100% - 100px);
  &__add {
    display: flex;
    padding: 5px calc(455px - 10%);
    color: #515151;
    font-size: 4.5rem;
    height: 45px;
    span {
      margin-left: 15px;
      align-self: center;
      font-size: 2rem;
    }
    svg {
      cursor: pointer;
      transition: .2s;
      &:hover {
        color: #a1a1a1;
      }
    }
    button {
      align-self: center;
      width: 80px;
      height: 30px;
      border-radius: 150px;
      outline: none;
      margin-left: 15px;
    }
  }
  &__list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-end;
    max-height: calc(100% - 55px);
    overflow-y: scroll;
    &__item {
      position: relative;
      margin: 15px;
      width: 150px;
      height: 150px;
      &__content {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        border: 2px solid #a1a1a1;
        transition: .2s;
        animation: up .75s ease-out backwards;
        z-index: 20;
        font-size: 1.6rem;
        &:hover {
          z-index: 30;
          transform: scale(1.25);
          font-size: 2rem;
        }
        &__options {
          position: absolute;
          top: 0;
          right: 0;
          padding: 5px;
          transition: opacity .2s;
          svg {
            cursor: pointer;
            &:first-child {
              margin-right: 5px;
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .courses {
    padding: 0;
    height: 100%;
    &__add {
      padding: 5px 40px;
    }
    &__list {
      padding: 0 30px;
      &__item {
        margin: 10px;
        width: 125px;
        height: 125px;
      }
    }
  }
}
