.course-form {
  // border: 2px solid green;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 0 10%;
  overflow-y: hidden;
  height: calc(100% - 100px);
  &__nav {
    // border: 2px solid black;
    display: flex;
    padding: 5px calc(455px - 10%);
    color: #515151;
    font-size: 4.5rem;
    height: 45px;
    span {
      margin-left: 15px;
      align-self: center;
      font-size: 2rem;
    }
    svg {
      cursor: pointer;
      transition: .2s;
      &:hover {
        color: #a1a1a1;
      }
    }
  }
  &__form {
    margin-top: 10px;
    // border: 2px solid blue;
    form {
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      align-items: flex-end;
    }
    &__input {
      // border: 2px solid yellow;
      display: flex;
      align-self: center;
      width: 450px;
      input {
        flex-basis: 75%;
        &[type="text"]:focus {
          background-color: #fff;
        }
      }
      label {
        flex-basis: 25%;
        margin-right: 20px;
        align-self: center;
        text-align: right;
        font-size: 1.4rem;
      }
    }
    &__video {
      align-self: center;
      width: 100%;
      text-align: center;
      font-size: 1.8rem;
      margin-top: 10px;
    }
    &__videos {
      // border: 2px solid black;
      display: flex;
      justify-content: flex-start;
      align-self: center;
      width: 60%;
      padding: 5px;
      &__item {
        // border: 2px solid black;
        display: flex;
        position: relative;
        width: 130px;
        height: 130px;
        margin: 5px;
        background-size: cover;
        opacity: 1;
        transition: opacity 0.4s;
        &[data-src] {
          opacity: 0;
        }
        input {
          align-self: center;
          width: 100%;
          // height: 100%;
          background-color: rgba(#ccc, .5);
          margin: auto;
          outline: none;
          color: #444;
          white-space: normal;
          text-align: center;
          font-size: 1.6rem;
        }
        &__remove {
          position: absolute;
          color: red;
          font-size: 2rem;
          top: 5px;
          right: 5px;
          transition: .2s;
          cursor: pointer;
          &:hover {
            transform: scale(1.5);
          }
        }
      }
    }
    &__submit {
      // border: 2px solid brown;
      align-self: center;
    }
  }
}

#video,
#canvas {
  display: none;
}

@media (max-width: 660px) {
  .course-form {
    padding: 0;
    height: 100%;
    &__nav {
      padding: 5px 40px;
    }
    &__form {
      padding: 5px 40px;
      &__input {
        width: 350px;
      }
    }
  }
}
