.course {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  max-height: calc(100% - 87px);
  &__nav {
    display: flex;
    padding: 5px calc(10% + 322.5px);
    color: #515151;
    font-size: 4.5rem;
    height: 45px;
    span {
      margin-left: 15px;
      align-self: center;
      font-size: 2rem;
    }
    svg {
      cursor: pointer;
      transition: .2s;
      &:hover {
        color: #a1a1a1;
      }
    }
  }
  &__content {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    max-height: 100%;
    &__videos {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      height: auto;
      max-height: 100%;
      transition: width .2s;
      &.playing {
        width: 230px;
        padding: 15px 0px 15px 10px;
        .course__content__videos__name {
          margin-bottom: 10px;
          margin-left: 20px;
        }
        .course__content__videos__list {
          padding: 0;
        }
      }
      &__name {
        display: flex;
        align-items: center;
        font-size: 2rem;
        margin-left: 46.75rem;
        margin-bottom: 5px;
        transition: margin-left .4s;
        width: 100%;
        height: 50px;
      }
      &__list {
        display: flex;
        justify-content: flex-start;
        flex-direction: row;
        align-self: center;
        flex-wrap: wrap;
        width: 100%;
        height: auto;
        max-height: calc(100% - #{100px});
        overflow-x: hidden;
        overflow-y: scroll;
        padding: 0 30px;
        &__item {
          cursor: pointer;
          text-align: center;
          width: 200px;
          height: 200px;
          margin: 5px;
          box-shadow: 0px 2px 10px 0px black;
          background-size: cover;
          opacity: 1;
          transition: opacity .4s, box-shadow .2s, transform .2s;
          &:hover {
            box-shadow: 0px 5px 10px 0px black;
            transform: translateY(-5px);
          }
          &[data-src] {
            opacity: 0;
          }
          &.selected {
            box-shadow: 0px 2px 10px 0px #b53333;
            &:hover {
              box-shadow: 0px 5px 10px 0px #b53333;
            }
          }
        }
      }
    }
    &__player {
      position: relative;
      width: 0px;
      transition: width .4s ease;
      overflow: hidden;
      padding-left: 15px;
      video {
        width: 100%;
        height: auto;
        max-height: 100%;
        min-width: 100%;
        min-height: 100%;
        background-color: #000;
      }
      &__close {
        cursor: pointer;
        position: absolute;
        top: 0;
        right: 0;
        display: none;
        margin: 15px;
        font-size: 3rem;
        svg {
          color: #fff;
          transition: transform .3s;
          &:hover {
            transform: scale(1.5) rotate(90deg);
          }
        }
      }
      &__description {
        position: absolute;
        top: 0;
        left: 0;
        width: calc(100% - #{30px});
        height: calc(100% - #{30px});
        padding: 15px;
        background-color: #fff;
        &__text {
          position: relative;
          width: calc(100% - #{100px});
          height: calc(100% - #{60px});
          padding: 30px 50px 30px 50px;
        }
        &__close {
          position: absolute;
          top: 0;
          right: 0;
          z-index: 999;
          font-size: 3rem;
          color: black;
          cursor: pointer;
          svg {
            transition: transform .3s;
            &:hover {
              transform: scale(1.5) rotate(90deg);
            }
          }
        }
      }
      &.playing {
        width: calc(100% - #{275px});
        .course__content__player__close {
          display: block;
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .course {
    height: 100%;
    &__nav {
      padding: 5px 40px;
      height: 50px;
    }
    &__content {
      &__videos {
        position: absolute;
        // display: none;
        top: 0;
        left: 0;
        &__name {
          display: flex;
          justify-content: center;
          margin-left: 5px;
          font-size: 2rem;
        }
        &__list {
          padding: 0;
          justify-content: space-around;
          &__item {
            width: 150px;
            height: 150px;
          }
        }
        &.playing {
          width: 0;
        }
      }
      &__player {
        padding-top: 0;
        padding-left: 0;
        &.playing {
          width: 100%;
          padding: 0;
        }
      }
    }
  }
}
